WcfServiceLibrary1/WebApplication1/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="additionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="additionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtraction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtractionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subtractionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multiplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="division">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divisionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>