WcfServiceLibrary1/WindowsFormsApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_addition_InputMessage">
    <wsdl:part name="parameters" element="tns:addition" />
  </wsdl:message>
  <wsdl:message name="IService1_addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:additionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:subtraction" />
  </wsdl:message>
  <wsdl:message name="IService1_subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:subtractionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_multiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:multiplication" />
  </wsdl:message>
  <wsdl:message name="IService1_multiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:multiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_division_InputMessage">
    <wsdl:part name="parameters" element="tns:division" />
  </wsdl:message>
  <wsdl:message name="IService1_division_OutputMessage">
    <wsdl:part name="parameters" element="tns:divisionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="addition">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addition" message="tns:IService1_addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/additionResponse" message="tns:IService1_addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/subtraction" message="tns:IService1_subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/subtractionResponse" message="tns:IService1_subtraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/multiplication" message="tns:IService1_multiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/multiplicationResponse" message="tns:IService1_multiplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="division">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/division" message="tns:IService1_division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/divisionResponse" message="tns:IService1_division_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addition">
      <soap:operation soapAction="http://tempuri.org/IService1/addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtraction">
      <soap:operation soapAction="http://tempuri.org/IService1/subtraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <soap:operation soapAction="http://tempuri.org/IService1/multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap:operation soapAction="http://tempuri.org/IService1/division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>